*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: black;

}
img{
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#caixa-numeros {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 340px;
    background: white;
    border-radius: 6px;
    padding-left: 10px;
}

.numeros {
    text-align: center;
    font-weight: 600;
    font-size: 50px;

}

.numero-verde {
    color: #C5FB01;

}

#caixa-botoes {
    margin-top: 20px;
    text-align: center;
    
}

.botoes {
    background: white;
    color: #C5FB01;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#parar {
    color: red;
}

#resetar {
    color: black;
}

.ativo {
    opacity: 0.5;
}